/*
 * IMAGES
 */
.ce_dse_images * {
    box-sizing: border-box;
}

.ce_dse_images .double {
    width: 50%;
    float: left;
    margin: 0;
}

.ce_dse_images .double:first-of-type {
    padding-bottom: 0;
    padding-right: 10px;
}

.ce_dse_images .double:last-of-type {
    padding-top: 0;
    padding-left: 10px;
}

.ce_dse_images .double .ce_image {
    margin: 0;
}
